:root {
    /* --primary-color: #1c5d99; */
    --primary-color: #5ac4c4;
    --secondary-color: #222222;
    /* --accent1-color: #5ac4c4; */
    --accent1-color: #1c5d99;
    --accent2-color: #e6e6e6;
    --basic-border: 1px solid #0000006e;
    --shadow-border: 1px solid #0000004a;
}

* {
    font-family: 'Nunito Sans';
    color: black;
    /* background-color: white; */
}

header, footer, .address, .simple-box, .hero,
.history {
    margin: 1rem;
    padding: 10px;
    border: var(--basic-border);
}

header {
    display: grid;
    grid-template: 1fr / 1fr 2fr;
    place-items: center;
    background-color: var(--primary-color);
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-evenly; */
    list-style: none;
}

.navigation li {
    flex: 1 1 auto;
    border: var(--basic-border);
    background-color: var(--accent2-color);
    padding: 0.5em 1.5em;
}

.navigation a {
    display: block;
    text-decoration: none;
    padding: 0 10px;
    color: #000000;
    font-size: 1.2rem;
}

h1 {
    font-family: 'Trade Winds';
    color: var(--accent1-color);
    text-shadow: 0px 0px 10px var(--primary-color);
    background-color: #ffffff6b;
    width: 100%;
    text-align: center;
}

h2 {
    font-family: 'Trade Winds';
    color: var(--accent1-color);
    text-shadow: 0px 0px 10px var(--primary-color);
}

p {
    /* color: var(--secondary-color); */
    color: #000000;
}

.simple-box {
    display: grid;
    grid-template: auto auto / 100%;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.image-row {
    display: flex;
    width: 100%;
    flex: 0 1 auto;
    justify-content: space-around;
}

.image-row figure{
    min-width: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.image-row img {
    min-width: 0;
    width: 100%;
    height: auto;
    border: var(--shadow-border);
}

.hero {
    position: relative;
    margin: 1rem;
}

.hero img {
    width: 100%;
    display: block;
    height: auto;
    /* object-fit: cover; */
}

.hero h1 {
    position: absolute;
    top: 1em;
}

.hero article {
    position: absolute;
    top: 10em;
    left: 10%; /* This looks centered to me.  I don't know why though :'( */
    width: 80%;
    background-color:#5ac4c460;
}

.hero article img {
    float: right;
    width: 200px;
    height: auto;
    padding: 1em;
}

.history {
    display: grid;
    grid-template: 2rem 1fr / repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.history h2 {
    grid-column: span 4;
    padding: 1rem;
}

.history img {
    max-width: 400px;
    border: var(--shadow-border);
}

.history p {
    padding: 1rem;
}

footer {
    display: grid;
    grid-template-columns: 150px auto 150px;
    place-items: center;
    background-color: var(--primary-color);
}

footer p {
    grid-column: 2 / 3;
}

.sociallinks {
    grid-column: 3 / 4;
}

.sociallinks ul {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.sociallinks li {
    flex: 1 1 auto;
    padding: 5px;
}

footer img {
    max-width: 30px;
    height: auto;
}

.sociallinks a {
    text-decoration: none;
}

.address { 
    display: grid;
    grid-template: repeat(auto, 2) / repeat(auto, 4);
    justify-items: center;
    align-items: center;
    justify-content: center;
} 

.address h1 {
    grid-column: span 4;    
}

.employees img {
    max-width: 200px;
    height: auto;
}

.address div {
    padding: 5px;
}

.contact form {
    width: 100%;
}

.contact textarea {
    width: 100%;
}