:root {
    --primary-color: #1c5d99;
    --secondary-color: #222222;
    --accent1-color: #5ac4c4;
    --accent2-color: #e6e6e6;
    --basic-border: 1px solid #0000006e;
    --shadow-border: 1px solid #0000004a;
}

* {
    font-family: 'Nunito Sans';
    color: black;
    /* background-color: white; */
}

header, footer, .address, .simple-box, .hero,
.history {
    margin: 1rem;
    padding: 10px;
    /* border: var(--basic-border); */
}

header {
    display: grid;
    grid-template: 1fr / 1fr 2fr;
    place-items: center;
    background-color: var(--accent1-color);
}

a {
    text-decoration: none;
}

.even-section {
    background-color: var(--accent2-color);
}

.borderless {
    /* border: 0; */
    padding: 0;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-evenly; */
    list-style: none;
}

.navigation li {
    flex: 1 1 auto;
    border: var(--basic-border);
    background-color: var(--accent2-color);
    padding: 0.5em 1.5em;
}

.navigation a {
    display: block;
    padding: 0 10px;
    color: #000000;
    font-size: 1.2rem;
}

.button {
    display: block;
    background-color: var(--accent1-color);
    border: var(--basic-border);
    border-radius: 10px;
    width: fit-content;
}

.button a {
    padding: 0 10px;
    font-size: 1.2rem;
}

h1 {
    font-family: 'Trade Winds';
    color: var(--primary-color);
    text-shadow: 0px 0px 10px var(--accent1-color);
    width: 100%;
    text-align: center;
}

h2 {
    font-family: 'Trade Winds';
    color: var(--primary-color);
    text-shadow: 0px 0px 10px var(--accent1-color);
}

p {
    /* color: var(--secondary-color); */
    color: #000000;
}

.simple-box {
    display: grid;
    grid-template: auto auto / 100%;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.image-row {
    display: flex;
    flex: 0 1 auto;
    justify-content: space-around;
}

.image-row figure{
    min-width: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.image-row img {
    min-width: 0;
    width: 100%;
    height: auto;
    border: var(--shadow-border);
}

.hero {
    position: relative;
    padding: 0;
}

.hero img {
    width: 100%;
    display: block;
    height: auto;
    /* object-fit: cover; */
}

.hero h1 {
    position: absolute;
    top: 1em;
    background-color: #ffffff6b;
}

.hero article {
    position: absolute;
    top: 10em;
    left: 10%; /* This looks centered to me.  I don't know why though :'( */
    width: 80%;
    background-color:#5ac4c460;
}

.hero article img {
    float: right;
    width: 200px;
    height: auto;
    padding: 1em;
    transform: translate(0, -10%);
}

.hero h2 {
    position: absolute;
    /* color: var(--primary-color); */
    display: block;
    color: var(--secondary-color);
    width: fit-content;
    left: 50%;
    /* top: 4.5em; */
    transform: translate(-50%, -50%);
}

.hero p {
    position:relative;
    top: 1rem;
}

.hero .button {
    display: block;
    position: absolute;
    left: 50%;
    top: 8.5em;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    font-weight: bold;
    padding: 5px;
}

.newsletter fieldset {
    border: 5px solid var(--primary-color);
    background-color: var(--accent2-color);
    box-shadow: 5px 3px 3px var(--accent1-color);

}

.index-trips img {
    border: 5px solid var(--primary-color);
    box-shadow: 5px 3px 3px var(--accent1-color);
}

.history {
    display: grid;
    grid-template: 2rem 1fr / repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.history h2 {
    grid-column: span 4;
    padding: 1rem;
}

.history img {
    max-width: 400px;
    border: var(--shadow-border);
}

.history p {
    padding: 1rem;
}

footer {
    display: grid;
    grid-template-columns: 150px auto 150px;
    place-items: center;
    background-color: var(--accent1-color);
}

footer p {
    grid-column: 2 / 3;
}

.sociallinks {
    grid-column: 3 / 4;
}

.sociallinks ul {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.sociallinks li {
    flex: 1 1 auto;
    padding: 5px;
}

footer img {
    max-width: 30px;
    height: auto;
}

.address { 
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
} 

.address h1 {
    grid-column: span 4;    
}

.employees img {
    max-width: 200px;
    height: auto;
}

.address div {
    padding: 5px;
}

.address iframe {
    width: 300px;
    height: 200px;
    border: 0;
}

.contact form {
    width: 100%;
}

.contact textarea {
    width: 100%;
}

.tagline {
    position: relative;
    background-color: var(--primary-color);
    width: auto;
    height: 450px;
}

.tagline img {
    position:absolute;
    top: auto;
    left: 10%;
}

.tagline div {
    display: block;
    padding: 0 1rem 1rem 1rem;
    background-color: var(--accent2-color);
    position: absolute;
    top:auto;
    right: 10%;
    max-width: 600px;
}

.adventure-highlights {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;
}

.adventure-highlights article {
    display: block;
    margin: 5px;
    padding: 10px;
    background-color: var(--accent2-color);
}

.adventure-highlights img {
    justify-self: center;
    max-width: 95%;
    width: auto;
    height: auto;
    max-height: 300px;
}

.call-to-action {
    display: grid;
    justify-content: center;
    grid-template-columns: 100%;
}

.call-to-action .button {
    justify-self: center;
    text-align: center;
    font-size: 3rem;
    min-width: 40%
}

.trip-table thead {
    background-color: var(--primary-color);
}

.trip-table thead th {
    color: white;
    font-size: 1.2em;
    padding: 0 15px;
}

.trip-table tbody th, td {
    padding: 0 15px;
}

.trip-table tbody tr:nth-child(odd) {
    background-color: var(--accent1-color);
}