:root {
    --img-width: 200px;
    --subtle-border: 1px solid rgb(0 0 0 / 0.2);
    --padding: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: darkblue;
    padding: var(--padding);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.grid {
    display: grid;
    /* grid-template-columns: 1fr 2fr; */
    align-items: center;
}

h1 {
    color: darkblue;
    padding: var(--padding);
    border-bottom: 2px solid darkblue;
}

main h2 {
    padding: var(--padding);
}

main img {
    width: var(--img-width);
    height: auto;
    border: var(--subtle-border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 0 var(--padding);
    float: right;
}

main a {
    padding: var(--padding);
    color: darkblue;
    text-decoration: none;
}

p {
    padding: var(--padding);
}

main {
    grid-column: 2 / 3;
    margin: 1rem;
}

aside {
    width: 20rem;
    margin: 15px var(--padding);
    position: relative;
    grid-area: 1 / 1 / 2 / 2;
}

aside img {
    width: var(--img-width);
    height: auto;
}

aside h2 {
    position: absolute;
    left: 3.5rem;
}

footer {
    margin-top: 5px;
    border-top: 1px dashed black;
    text-align: center;
}

/* Class Selectors */

.box {
    padding: 1rem;
    margin: 1rem;
    border: var(--subtle-border);
    background-color: #f8b541;
    color: black;
}