:root {
    --img-width: 200px;
    --subtle-border: 1px solid rgb(0 0 0 / 0.2);
    --padding: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: var(--padding);
}

nav a {
    color: white;
    display: block;
    padding: var(--padding);
}

h1 {
    color: darkblue;
    padding: var(--padding);
}

main h2 {
    padding: var(--padding);
}

main img {
    width: var(--img-width);
    height: auto;
    border: var(--subtle-border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 0 var(--padding);
    float: right;
}

main a {
    padding: var(--padding);
    color: darkblue;
    text-decoration: none;
}

p {
    padding: var(--padding);
}

main {
    max-width: 840px;
}

aside {
    width: 500px;
    margin: 15px var(--padding);
    position: relative;
}

aside img {
    width: var(--img-width);
    height: auto;
}

aside h2 {
    position: absolute;
    left: 3.5rem;
}

footer {
    margin-top: 5px;
    border-top: 1px dashed black;
    text-align: center;
}

/* Class Selectors */

.box {
    padding: 1rem;
    margin: 1rem;
    border: var(--subtle-border);
    background-color: #f8b541;
    color: black;
}