:root {
    --img-width: 200px;
    --subtle-border: 1px solid rgb(0 0 0 / 0.2);
    --padding: 10px;
}

nav {
    background-color: darkblue;
    padding: var(--padding);
}

nav a {
    color: white;
    display: block;
    padding: var(--padding);
}

h1 {
    color: darkblue;
    padding: 0 var(--padding);
}

main img {
    width: var(--img-width);
    height: auto;
    border: var(--subtle-border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 0 var(--padding);
}

p {
    padding: 0 var(--padding);
}

main {
    max-width: 840px;
}

aside {
    width: 500px;
    margin: 15px var(--padding);
    border: var(--subtle-border);
    padding: 0 var(--padding);
    background-color: #f8b541;
    color: black;
}

aside img {
    width: var(--img-width);
    height: auto;
}

footer {
    margin-top: 5px;
    border-top: 1px dashed black;
    text-align: center;
}